<div>
    <!-- class="section" -->
    <div class="container-fluid">
        <!-- container -->
        <h2>Innovative use of location data and technologies for public services <br> Collection of case studies</h2>
        <h3 style="margin-top: -5px; margin-bottom: 20px;"> <a
                href="https://joinup.ec.europa.eu/collection/elise-european-location-interoperability-solutions-e-government/about"
                target="_blank" rel="noopener noreferrer">ELISE</a> action prototype visualisation tool</h3>

        <div class="row">
            <div *ngIf="cs.selectedCase"
                [ngClass]="!pinnedCase ? 'col-md-10 offset-md-1 card' : 'col-md-5 offset-md-1 card'">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-default btn-sm float-right"
                        (click)="cs.selectedCase = null; updateMarkerSel(); selectedIndex = -1" placement="bottom"
                        ngbTooltip="Close this item."><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-outline-default btn-sm float-right"
                        (click)="pinnedCase = cs.selectedCase; cs.selectedCase= null; updateMarkerSel()"
                        placement="bottom"
                        ngbTooltip="Click this button to pin this item. If there was a previously pinned item it will be closed. Select another case to compare them.">
                        <i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
                    <div class="tim-title">
                        <h3>{{cs.selectedCase.name}} </h3>
                    </div>
                    <p *ngIf="cs.selectedCase.tech_readiness_level === 1" class="text-muted"> Research and
                        innovation
                        <!--  (~ TLR1 - TLR2) -->
                    </p>
                    <p *ngIf="cs.selectedCase.tech_readiness_level === 2" class="text-muted"> Proof of concept
                        <!-- (~ TLR3 - TLR4) -->
                    </p>
                    <p *ngIf="cs.selectedCase.tech_readiness_level === 3" class="text-muted"> Prototype
                        <!-- (~ TLR5
                        - TLR7) -->
                    </p>
                    <p *ngIf="cs.selectedCase.tech_readiness_level === 4" class="text-muted"> Production System
                        <!-- (~ TLR8 - TLR9) -->
                    </p>
                    <p style="white-space: break-spaces;">
                        {{cs.selectedCase.description}}
                    </p>
                    <br>
                    <p *ngIf="cs.selectedCase.pub_date" class="text-right"> {{cs.selectedCase.pub_date}}</p>
                    <p *ngIf="cs.selectedCase.scope" class="text-right label-description"> {{cs.selectedCase.scope |
                        titlecase}}</p>
                    <p *ngFor="let extent of cs.selectedCase.geographic_extent" class="text-right text-muted">
                        <span *ngFor="let item of extent">
                            <span *ngIf="item.length == 2"> {{ns.nuts0GeometryHash[item].properties.NAME_LATN}}</span>
                            <span *ngIf="ns.nuts1GeometryHash[item]">, </span>
                            <span *ngIf="item.length == 3"> {{ns.nuts1GeometryHash[item].properties.NAME_LATN}}</span>
                            <span *ngIf="ns.nuts2GeometryHash[item]">, </span>
                            <span *ngIf="item.length == 4"> {{ns.nuts2GeometryHash[item].properties.NAME_LATN}}</span>
                            <span *ngIf="ns.nuts3GeometryHash[item]">, </span>
                            <span *ngIf="item.length == 5"> {{ns.nuts3GeometryHash[item].properties.NAME_LATN}}</span>
                            <span *ngIf="ns.lauNamesHash[item.trim()]">, </span>
                            <span *ngIf="item.length > 5"> {{ns.lauNamesHash[item.trim()]}} </span>
                        </span>
                    </p>

                    <p *ngIf="cs.selectedCase.theme_area && cs.selectedCase.theme_area.length > 0"
                        class="label-description">
                        Theme Areas </p>
                    <span *ngFor="let ta of cs.selectedCase.theme_area">
                        <span placement="bottom" class="label label-icon label-warning">{{ta}} -
                            {{tas.themeAreasExpanded[ta.toString()]}}</span>
                    </span>
                    <p *ngIf="cs.selectedCase.tech_trend.length > 0" class="label-description">OGC Trend Watch </p>
                    <span *ngFor="let tech of cs.selectedCase.tech_trend">
                        <span placement="bottom" class="label label-default label-icon"><i
                                class="fa fa-{{iconsOGC[tech]}}"></i>{{tech}}</span>
                    </span>
                    <p *ngIf="cs.selectedCase.emerging_tech.length > 0" class="label-description">OGC Emerging
                        Technologies
                    </p>
                    <span *ngFor="let tech of cs.selectedCase.emerging_tech">
                        <span placement="bottom" class="label label-danger label-icon"><i
                                class="fa fa-{{iconsTrend[tech]}}"></i>{{tech}}</span>
                    </span>
                    <p class="label-description">Public Value(s)</p>
                    <span *ngFor="let pv of cs.selectedCase.public_value[0]" class="label label-secondary">OP/
                        {{pv}}</span>
                    <span *ngFor="let pv of cs.selectedCase.public_value[1]" class="label label-secondary">POL/
                        {{pv}}</span>
                    <span *ngFor="let pv of cs.selectedCase.public_value[2]" class="label label-secondary">SOC/
                        {{pv}}</span>
                    <div class="float-right">
                        <a href="{{cs.selectedCase.source}}" target="_blank" rel="noopener noreferrer"><button
                                type="button" class="btn btn-outline-default btn-sm" placement="bottom"
                                ngbTooltip="Open link {{cs.selectedCase.source}}"> Link to Source</button></a>
                        <!--   <a href="{{cs.selectedCase.more_info}}" target="_blank" rel="noopener noreferrer"><button
                                type="button" class="btn btn-outline-default btn-sm"> More Info</button></a> -->
                    </div>
                </div>
            </div>
            <!-- 
            <ngb-alert [type]="danger" [dismissible]="false">
                <div class="container">
                    <i class="nc-icon nc-bell-55"></i>
                    Warning, if you pin this case, the previously pinned one will be replaced.
                    <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                        <i class="nc-icon nc-simple-remove"></i>
                    </button>
                </div>
            </ngb-alert> -->

            <div *ngIf="pinnedCase"
                [ngClass]="!cs.selectedCase ? 'col-md-5 offset-md-6 card' : 'col-md-5 offset-md-1 card'">
                <div class="card-body">



                    <button type="button" class="btn btn-outline-default btn-sm float-right"
                        (click)="pinnedCase = null; updateMarkerSel()" placement="bottom"
                        ngbTooltip="Close this item."><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-outline-default btn-link btn-sm float-right" disabled>
                        <i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
                    <div class="tim-title">
                        <h3>{{pinnedCase.name}} </h3>
                    </div>
                    <p *ngIf="pinnedCase.tech_readiness_level === 1" class="text-muted"> Research and
                        innovation
                        <!-- (~ TLR1 - TLR2) -->
                    </p>
                    <p *ngIf="pinnedCase.tech_readiness_level === 2" class="text-muted"> Proof of concept
                        <!-- (~ TLR3 - TLR4) -->
                    </p>
                    <p *ngIf="pinnedCase.tech_readiness_level === 3" class="text-muted"> Prototype
                        <!-- (~ TLR5
                        - TLR7) -->
                    </p>
                    <p *ngIf="pinnedCase.tech_readiness_level === 4" class="text-muted"> Production System
                        <!-- (~ TLR8 - TLR9) -->
                    </p>
                    <p style="white-space: break-spaces;">
                        {{pinnedCase.description}}
                    </p>
                    <br>
                    <p *ngIf="pinnedCase.pub_date" class="text-right"> {{pinnedCase.pub_date}}</p>
                    <p *ngIf="pinnedCase.scope" class="text-right label-description"> {{pinnedCase.scope | titlecase}}
                    </p>
                    <p *ngFor="let extent of pinnedCase.geographic_extent" class="text-right text-muted">
                        <span *ngFor="let item of extent">
                            <span *ngIf="item.length == 2"> {{ns.nuts0GeometryHash[item].properties.NAME_LATN}}</span>
                            <span *ngIf="ns.nuts1GeometryHash[item]">, </span>
                            <span *ngIf="item.length == 3"> {{ns.nuts1GeometryHash[item].properties.NAME_LATN}}</span>
                            <span *ngIf="ns.nuts2GeometryHash[item]">, </span>
                            <span *ngIf="item.length == 4"> {{ns.nuts2GeometryHash[item].properties.NAME_LATN}}</span>
                            <span *ngIf="ns.nuts3GeometryHash[item]">, </span>
                            <span *ngIf="item.length == 5"> {{ns.nuts3GeometryHash[item].properties.NAME_LATN}}</span>
                        </span>
                    </p>

                    <p *ngIf="pinnedCase.theme_area && pinnedCase.theme_area.length > 0" class="label-description ">
                        Theme areas </p>
                    <span *ngFor="let ta of pinnedCase.theme_area">
                        <span placement="bottom" class="label label-icon label-warning">
                            {{ta}} - {{tas.themeAreasExpanded[ta.toString()]}}</span>
                    </span>
                    <p *ngIf="pinnedCase.tech_trend.length > 0" class="label-description">OGC Trend Watch </p>
                    <span *ngFor="let tech of pinnedCase.tech_trend">
                        <span placement="bottom" class="label label-default label-icon"><i
                                class="fa fa-{{iconsOGC[tech]}}"></i>{{tech}}</span>
                    </span>
                    <p *ngIf="pinnedCase.emerging_tech.length > 0" class="label-description">Emerging Technologies
                    </p>
                    <span *ngFor="let tech of pinnedCase.emerging_tech">
                        <span placement="bottom" class="label label-danger label-icon"><i
                                class="fa fa-{{iconsTrend[tech]}}"></i>{{tech}}</span>
                    </span>
                    <p class="label-description">Public Value</p>
                    <span *ngFor="let pv of pinnedCase.public_value[0]" class="label label-secondary">OP/ {{pv}}</span>
                    <span *ngFor="let pv of pinnedCase.public_value[1]" class="label label-secondary">POL/ {{pv}}</span>
                    <span *ngFor="let pv of pinnedCase.public_value[2]" class="label label-secondary">SOC/ {{pv}}</span>
                    <div class="float-right">
                        <a href="{{pinnedCase.source}}" target="_blank" rel="noopener noreferrer"><button type="button"
                                class="btn btn-outline-default btn-sm" placement="bottom"
                                ngbTooltip="Open link {{pinnedCase.source}}"> Link to Source</button></a>
                        <!--   <a href="{{pinnedCase.more_info}}" target="_blank" rel="noopener noreferrer"><button
                                type="button" class="btn btn-outline-default btn-sm"> More Info</button></a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 mt-4">
                Total results: {{cs.filteredCases.length}}
                <app-filters-menu></app-filters-menu>
            </div>
            <div class="col-md-9">

                <div class="row">

                    <div class="col-md-12">
                        <span *ngFor="let n of ns.nuts0Active; let index0=index;">
                            <span class="label label-nuts0 label-close"
                                (click)="ns.nuts0Active.splice(index0, 1); updateModels() ">{{n.NAME_ENGLISH}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let n of ns.nuts1Active; let index1=index;">
                            <span class="label label-nuts1 label-close"
                                (click)="ns.nuts1Active.splice(index1, 1); updateModels() ">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let n of ns.nuts2Active; let index2=index;">
                            <span class="label label-nuts2 label-close"
                                (click)="ns.nuts2Active.splice(index2, 1); updateModels() ">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let n of ns.nuts3Active; let index3=index;">
                            <span class=" label label-nuts3 label-close"
                                (click)="ns.nuts3Active.splice(index3, 1); updateModels() ">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let ta of tas.thematicAreas">
                            <span *ngIf="ta.active" class="label label-warning label-close" (click)="ta.active = false">
                                <i class="fa fa-{{iconsTheme[ta.name]}}"></i>
                                {{ta.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let ogc of tas.ogcAreas">
                            <span *ngIf="ogc.active" class="label label-default label-close"
                                (click)="ogc.active = false">
                                <i class="fa fa-{{iconsOGC[ogc.name]}}"></i>
                                {{ogc.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let em of tas.emergingTech">
                            <span *ngIf="em.active" class="label label-danger label-close" (click)="em.active = false">
                                <i class="fa fa-{{iconsTrend[em.name]}}"></i>
                                {{em.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let pv of tas.publicValue">
                            <span *ngIf="pv.active" class="label label-secondary label-close"
                                (click)="pv.active = false">{{pv.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                    </div>

                </div>
                <div class="row">
                    <div [ngClass]="listMapVisible === 1 ? 'col-md-6' : 'col-md-12'" class="text-center"
                        [ngStyle]="{'display':listMapVisible !== 0 ? 'block' : 'none'}">
                        <button *ngIf="listMapVisible === 1" type="button"
                            class="btn btn-default btn-sm btn-outline-default btn-icon mb-2"
                            (click)="listMapVisible = 2;" placement="top" ngbTooltip="Show map full screen">
                            Maximise Map
                            <i class="fa fa-chevron-right">
                            </i>
                        </button>
                        <button *ngIf="listMapVisible != 1" type="button"
                            class="btn btn-default btn-sm btn-outline-default btn-icon mb-2"
                            (click)="listMapVisible = 1;" placement="top" ngbTooltip="Show map and list">
                            Minimise Map <i class="fa fa-chevron-left"> </i>
                        </button>
                        <i *ngIf="loadingMap" class="nc-icon nc-icon.spin"></i>
                        <div id="webtoolsMap"> </div>

                    </div>
                    <div [ngClass]="listMapVisible === 1 ? 'col-md-6' : 'col-md-12'" class="text-center"
                        [ngStyle]="{'display':listMapVisible !== 2 ? 'block' : 'none'}">
                        <button *ngIf="listMapVisible === 1" type="button"
                            class="btn btn-default btn-sm btn-outline-default btn-icon mb-2"
                            (click)="listMapVisible = 0;" placement="top" ngbTooltip="Show list full screen">
                            Maximise List <i class="fa fa-chevron-left"></i>
                        </button>
                        <button *ngIf="listMapVisible != 1" type="button"
                            class="btn btn-default btn-sm btn-outline-default btn-icon mb-2"
                            (click)="listMapVisible = 1;" placement="top" ngbTooltip="Show map and list">
                            Minimise List <i class="fa fa-chevron-right"></i>
                        </button>
                        <div
                            *ngFor="let c of cs.filteredCases.slice((cs.pagination-1) * pageLength , cs.pagination * pageLength ); index as i">

                            <a class="color-default" href="#"
                                (click)="cs.selectedCase = cs.filteredCases[i + (cs.pagination - 1) * pageLength]; updateMarkerSel(i + (cs.pagination - 1) * pageLength); selectedIndex = i"
                                class="card" [ngClass]="selectedIndex === i ? 'card-selected' : ''">
                                <div class="card-body row">
                                    <div class="col-10">
                                        <p class="text-left">{{c.name}}</p> <!-- TODO: add id? {{c._id.$oid}} -  -->
                                    </div>
                                    <div class="col-2">
                                        <p *ngIf="c.geographic_extent.length > 0" class="label-year">
                                            {{c.geographic_extent[0][0]}}</p>
                                        <p *ngIf="c.pub_date" class="label-year">
                                            {{c.pub_date}}</p>
                                    </div>
                                    <div class="col-4">
                                        <span *ngFor="let tech of c.tech_trend">
                                            <span placement="bottom" ngbTooltip="{{tech}}"
                                                class="label label-default label-icon"><i
                                                    class="fa fa-{{iconsOGC[tech]}}"></i></span>
                                        </span>
                                        <span *ngFor="let tech of c.emerging_tech">
                                            <span placement="bottom" ngbTooltip="{{tech}}"
                                                class="label label-danger label-icon"><i
                                                    class="fa fa-{{iconsTrend[tech]}}"></i></span>
                                        </span>
                                    </div>
                                    <div class="col-8">
                                        <p *ngIf="c.description" class="label-description">{{c.description |
                                            slice:0:120}}
                                            [...]</p>
                                    </div>

                                    <div class="col-4">
                                        <span *ngFor="let ta of c.theme_area">
                                            <span placement="bottom"
                                                ngbTooltip="{{tas.themeAreasExpanded[ta.toString()]}}"
                                                class="label label-warning label-icon">{{ta}}</span>
                                        </span>
                                    </div>
                                    <div class="col-5">
                                        <!--    <p class="label-description">Value:</p>  -->
                                        <span *ngIf="c.public_value[0].length > 0"
                                            class="label label-secondary">Operational</span>
                                        <span *ngIf="c.public_value[1].length > 0"
                                            class="label label-secondary">Political</span>
                                        <span *ngIf="c.public_value[2].length > 0"
                                            class="label label-secondary">Social</span>

                                    </div>
                                    <div class="col-3">
                                        <p *ngIf="c.scope" class="label-year">{{c.scope | titlecase}} <i
                                                *ngIf="c.features && c.features.length > 0"
                                                class="fa fa-map-marker text-primary" ngbTooltip="Has location"></i></p>
                                    </div>
                                    <br>
                                </div>
                            </a>
                        </div>
                        <div *ngIf="cs.filteredCases.length > 4" class="col-md-12" class="text-center mt-2">
                            <ngb-pagination [collectionSize]="cs.filteredCases.length" [(page)]="cs.pagination"
                                [maxSize]="3" [pageSize]="pageLength" [rotate]="true">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: auto;">
            v0.4
        </div>
    </div>
</div>