.color-default {
    color: #66615b
}

.label-year {
    color: #8a837b;
    text-align: right;
    font-size: smaller;
    font-weight: bold;
}

.label-icon {
    padding: 0.2em !important;
    margin: 1px;
}

.label-description {
    color: #8a837b;
    text-align: left;
    font-size: smaller;
    padding-top: 5px;
    margin-bottom: -2px;
}

span.label {
    margin: 1px;
}

.btn-icon {
    margin-bottom: 5px;
}

section.leaflet-control-layers-list {
    text-align: start !important;
}

.label-secondary {
    background-color: #ff9800
}

.label-tertiary {
    background-color: #11a99a
}

.label-nuts0 {
    background-color: #0A6158
}

.label-nuts1 {
    background-color: #0E8F82
}

.label-nuts2 {
    background-color: #12B5A5
}

.label-nuts3 {
    background-color: #18F5DF
}

.label-close {
    cursor: pointer;
}

.card-selected {
    border: 5px solid #128570 !important;
}