.color-default {
    color: #66615b
}

.label-year {
    color: #8a837b;
    text-align: right;
    font-size: smaller;
    font-weight: bold;
}

.label-icon {
    padding: 0.2em !important;
    margin: 1px;
}

.label-description {
    color: #8a837b;
    text-align: left;
    font-size: smaller;
}

span.label {
    margin: 1px;
}

.btn-icon {
    margin-bottom: 5px;
}

section.leaflet-control-layers-list {
   text-align: start !important;
}

.label-secondary {
    background-color: #ff9800
}
 