<div class="section">
    <div class="container-fluid">
        <!-- container -->
        <div class="tim-title">
            <h2>Use Cases</h2>
        </div>
        <div class="row">

            <div *ngIf="selectedCase" class="col-md-10 offset-md-1 card">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-danger btn-sm"
                        (click)="selectedCase = null">Close</button>
                    <div class="tim-title">
                        <h3>{{selectedCase.name}} </h3>
                    </div>
                    {{selectedCase.description}}
                    <br>
                    <br>
                    <p *ngIf="selectedCase.pub_date" class="text-right"> {{selectedCase.pub_date}}</p>
                    <br>
                    <span *ngFor="let tech of selectedCase.tech_trend">
                        <span class="label label-warning">{{tech}}</span>
                    </span>
                    <button type="button" class="btn btn-outline-danger btn-sm">Link</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Link</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Link</button>
                </div>
            </div>

            <div class="col-md-3">
                <app-filters-menu></app-filters-menu>
            </div>
            <div class="col-md-9">

                <div class="row">

                    <div class="col-md-12">
                        <span *ngFor="let n of ns.nuts0Active; let index0=index;">
                            <span class="label label-success"
                                (click)="ns.nuts0Active.splice(index0, 1); updateModels() ">{{n.NAME_ENGLISH}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let n of ns.nuts2Active; let index2=index;">
                            <span class="label label-info"
                                (click)="ns.nuts2Active.splice(index2, 1); updateModels() ">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let n of ns.nuts3Active; let index3=index;">
                            <span class=" label label-primary"
                                (click)="ns.nuts3Active.splice(index3, 1); updateModels() ">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let ta of tas.thematicAreas">
                            <span *ngIf="ta.active" class="label label-warning" (click)="ta.active = false">{{ta.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div [ngClass]="listMapVisible === 1 ? 'col-md-6' : 'col-md-12'" class="text-center"
                        [ngStyle]="{'display':listMapVisible !== 2 ? 'block' : 'none'}">
                        <div class="tim-title">
                            <h3>List
                                <button type="button" class="btn btn-info btn-sm btn-link"
                                    (click)="listMapVisible = listMapVisible === 1 ? 0 : 1">
                                    <i [ngClass]="listMapVisible === 1? 'fa fa-chevron-right' : 'fa fa-chevron-left'">
                                    </i></button>
                            </h3>
                        </div>
                        <div
                            *ngFor="let c of cs.filteredCases.slice((pagination-1) * pageLength , pagination * pageLength ); index as i">

                            <a class="color-default" href="#" (click)="selectedCase = cs.filteredCases[i]" class="card">
                                <div class="card-body row ">
                                    <div class="col-10">
                                        <p class="text-left">{{c._id.$oid - 1}} - {{c.name}}</p>
                                    </div>
                                    <div class="col-2">
                                        <p *ngIf="c.geographic_extent.length > 0" class="label-year">
                                            {{c.geographic_extent[0][0]}}</p>
                                        <p *ngIf="c.pub_date" class="label-year">
                                            {{c.pub_date}}</p>
                                    </div>
                                    <div class="col-4">
                                        <span *ngFor="let tech of c.tech_trend">
                                            <span placement="bottom" ngbTooltip="{{tech}}"
                                                class="label label-default label-icon"><i
                                                    class="fa fa-{{iconsOGC[tech]}}"></i></span>
                                        </span>
                                        <span *ngFor="let tech of c.emerging_tech">
                                            <span placement="bottom" ngbTooltip="{{tech}}"
                                                class="label label-danger label-icon"><i
                                                    class="fa fa-{{iconsTrend[tech]}}"></i></span>
                                        </span>
                                    </div>
                                    <div class="col-8">
                                        <p *ngIf="c.description" class="label-description">{{c.description |
                                            slice:0:120}}
                                            [...]</p>
                                    </div>

                                    <div class="col-10">

                                    </div>
                                    <div class="col-2">
                                        <p *ngIf="c.scope" class="label-year">{{c.scope}}</p>
                                    </div>

                                    <br>
                                </div>
                            </a>

                        </div>
                    </div>

                    <div [ngClass]="listMapVisible === 1 ? 'col-md-6' : 'col-md-12'" class="text-center"
                        [ngStyle]="{'display':listMapVisible !== 0 ? 'block' : 'none'}">

                        <div class="tim-title">
                            <h3>
                                <button type="button" class="btn btn-info btn-sm btn-link"
                                    (click)="listMapVisible = listMapVisible === 1 ? 2 : 1">
                                    <i [ngClass]="listMapVisible === 1? 'fa fa-chevron-left' : 'fa fa-chevron-right'">
                                    </i></button>
                                Map
                            </h3>
                        </div>

                        <!--   <div class="map" id="map" class="match-parent"></div> -->

                        <div leaflet [leafletOptions]="options" [leafletLayers]="markers" class="match-parent"
                            [ngStyle]="{'height':listMapVisible !== 0 ? '600px' : '80%'}" [leafletLayers]="cs.filteredCasesMap">
                        </div>
                    </div>

                </div>
                <div class="col-md-12" class="text-center mt-2">
                    <ngb-pagination [collectionSize]="cs.filteredCases.length" [(page)]="pagination" [maxSize]="3"
                        [pageSize]="pageLength" [rotate]="true">
                    </ngb-pagination>
                </div>



            </div>
        </div>
    </div>
</div>