<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Use Cases</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1"
                        (focus)="focus=true" (blur)="focus=false">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                <br>
                <!--                 <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="text" class="form-control" placeholder="Country / Region / City"
                        aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-globe"
                                aria-hidden="true"></i></span>
                    </div>
                </div> -->

                <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
                    <a class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>Country - NUTS 0</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-success pre-scrollable">
                        <a class="dropdown-header">Select as many as you want</a>
                        <a *ngFor="let n of nuts0Labels" class="dropdown-item" (click)="n.active = !n.active">
                            <i *ngIf="n.active" class="nc-icon nc-check-2"></i>
                            {{n.NUTS_ID}} - {{n.NAME_LATN}}
                        </a>
                        <!-- <a class="dropdown-item">Another action</a>
                       <a class="dropdown-item">Something else here</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item">Separated link</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item">Another separated link</a> -->
                    </div>
                </div>

                <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
                    <a class="btn btn-info" id="dropdownBasic1" ngbDropdownToggle>Region - NUTS 2</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-info pre-scrollable">
                        <a class="dropdown-header">Select as many as you want</a>
                        <a *ngFor="let n of nuts2Labels" class="dropdown-item" (click)="n.active = !n.active">
                            <i *ngIf="n.active" class="nc-icon nc-check-2"></i>
                            {{n.NUTS_ID}} - {{n.NAME_LATN}}
                        </a>
                    </div>
                </div>

                <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
                    <a class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Region - NUTS 3</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary pre-scrollable">
                        <a class="dropdown-header">Select as many as you want</a>
                        <a *ngFor="let n of nuts3Labels" class="dropdown-item" (click)="n.active = !n.active">
                            <i *ngIf="n.active" class="nc-icon nc-check-2"></i>
                            {{n.NUTS_ID}} - {{n.NAME_LATN}}
                        </a>
                    </div>
                </div>

                <div class="tim-title">
                    <h3>Scope</h3>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="scopeRadios" id="scopeRadios1" value="1"
                            (change)="cs.filterByScope()">
                        All
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="scopeRadios" id="scopeRadios2" value="2"
                            (change)="cs.filterByScope('local')">
                        Local
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="scopeRadios" id="scopeRadios3" value="3"
                            checked="" (change)="cs.filterByScope('regional')">
                        Regionals
                        <span class="form-check-sign"></span>
                    </label>
                </div>

                <!--             <bSwitch [switch-on-color]="'primary'" [(ngModel)]="state_default"> Toggle is off
                </bSwitch>
 -->
                <div class="tim-title">
                    <h3>Thematic area</h3>
                </div>
                <div ngbDropdown class="d-inline-block dropdown">
                    <a class="btn btn-warning" id="dropdownBasic1" ngbDropdownToggle>Thematic area</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-warning">
                        <a class="dropdown-header">Select as many as you want</a>
                        <a *ngFor="let ta of thematicAreas" class="dropdown-item" (click)="ta.active = !ta.active; filterByTheme()">
                            <i *ngIf="ta.active" class="nc-icon nc-check-2"></i>
                            {{ta.name}}
                        </a>
                        <!-- <a class="dropdown-item">Another action</a>
                       <a class="dropdown-item">Something else here</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item">Separated link</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item">Another separated link</a> -->
                    </div>
                </div>

                <!--  <div class="tim-title">
                    <h3>Thematic area</h3>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        01 - General public services
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        02 - Defence
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        03 - Public order and safety
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        04 - Economic affairs
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        05 - Environmental protection
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        06 - Housing and community amenities
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        07 - Health
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        08 - Recreation, culture and religion
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        09 - Education
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        10 - Social protection
                        <span class="form-check-sign"></span>
                    </label>
                </div> -->


                <div class="tim-title">
                    <h3>Public value type</h3>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="operational"
                            (change)="cs.filterByPublicValue($event)">
                        Operational
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="political"
                            (change)="cs.filterByPublicValue($event)">
                        Political
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="social"
                            (change)="cs.filterByPublicValue($event)">
                        Social
                        <span class="form-check-sign"></span>
                    </label>
                </div>


                <div class="tim-title">
                    <h3>Technological readiness</h3>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios1"
                            value="1" (change)="cs.filterByTechReady(1)">
                        Research and innovation (~ TLR1 - TLR2)
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios2"
                            value="2" (change)="cs.filterByTechReady(2)">
                        Proof of concept (~ TLR3 - TLR4)
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios3"
                            value="3" (change)="cs.filterByTechReady(3)">
                        Prototype (~ TLR5 - TLR7)
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios4"
                            value="4" (change)="cs.filterByTechReady(4)">
                        Production System (~ TLR8 - TLR9)
                        <span class="form-check-sign"></span>
                    </label>
                </div>

            </div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-12">

                        <span *ngFor="let n of nuts0Labels">
                            <span *ngIf="n.active" class="label label-success"
                                (click)="n.active = false">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>
                        <span *ngFor="let n of nuts2Labels">
                            <span *ngIf="n.active" class="label label-info" (click)="n.active = false">{{n.NAME_LATN}}
                                <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let n of nuts3Labels">
                            <span *ngIf="n.active" class="label label-primary"
                                (click)="n.active = false">{{n.NAME_LATN}} <i class="nc-icon nc-simple-remove"></i>
                            </span>
                        </span>
                        <span *ngFor="let ta of thematicAreas">
                            <span *ngIf="ta.active" class="label label-warning" (click)="ta.active = false">{{ta.name}}
                                <i class="nc-icon nc-simple-remove"></i> </span>
                        </span>

                    </div>
                    <div class="col-md-6  text-center">
                        <div class="tim-title">
                            <h3>List</h3>
                        </div>

                        <div *ngFor="let c of cs.filteredCases; index as i">
                            <a href="#" (click)="selectedCase = cs.filteredCases[i]">
                                <h3>{{c.name}}</h3>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-6 text-center">

                        <div class="tim-title">
                            <h3>Map</h3>
                        </div>


                        <!--   <div class="map" id="map" class="match-parent"></div> -->

                        <div leaflet [leafletOptions]="options" [leafletLayers]="markers" class="match-parent"
                            style="height: 600px;">
                        </div>


                    </div>
                </div>


                <div *ngIf="selectedCase" class="row">
                    <div class="col-md-12">
                        <hr>
                        <div class="tim-title">
                            <h3>{{selectedCase.name}}</h3>
                        </div>
                        {{selectedCase.description}}
                        <br>
                        <br>

                        <button type="button" class="btn btn-outline-danger btn-sm">Link</button>
                        <button type="button" class="btn btn-outline-danger btn-sm">Link</button>
                        <button type="button" class="btn btn-outline-danger btn-sm">Link</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>