.btn-icon {
    width: 100%;
    text-align: left;
}

.btn-icon i {
    float: right;
}

.right-chart {
    margin-top: -15px;
    margin-left: 10px;
}


.color1 {
    color: #751A1D;
}

.color2 {
    color: #BB3E03;
}

.color3 {
    color: #CA6702;
}

.color4 {
    color: #EE9B00;
}

.color5 {
    color: #E9D8A6;
}

.color6 {
    color: #94D2BD;
}

.color7 {
    color: #0A9396;
}

.color8 {
    color: #005F73;
}

.color9 {
    color: #002C3D;
}

.color10 {
    color: #002229;
}