.btn-icon {
    width: 100%;
    text-align: left;
}

.btn-icon i {
    float: right;
}

.right-chart {
    margin-top: -15px;
    margin-left: 10px;
}


.color1 {
    color: #a7395d;
}

.color2 {
    color: #7ba3e5;
}

.color3 {
    color: #a17ea7;
}

.color4 {
    color: #aae2f5;
}

.color5 {
    color: #adcded;
}

.color6 {
    color: #a85963;
}

.color7 {
    color: #8797c0;
}

.color8 {
    color: #7ed3ed;
}

.color9 {
    color: #50abcb;
}

.color10 {
    color: #ac6886;
}