<div #filters class="input-group" [ngClass]="{'input-group-focus':focus===true}">
    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" (focus)="focus=true"
        (blur)="focus=false" [(ngModel)]="textFilter" (keyup)="cs.filterByText(textFilter)">
    <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
</div>
<br>
<!--                 <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <input type="text" class="form-control" placeholder="Country / Region / City"
                        aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-globe"
                                aria-hidden="true"></i></span>
                    </div>
                </div> -->
<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="geo.toggle()"
        [attr.aria-expanded]="!geoExtVisible" placement="bottom" ngbTooltip="Filter by geographic extent, based on the NUTS 2021 classification (Nomenclature of territorial units for statistics), a hierarchical system for dividing up the economic territory of the Member States of the European Union, with corresponding statistical regions in
        EFTA countries, candidate countries and potential candidates. (source: Eurostat)">
        Geographical Extent
        <i [ngClass]="geoExtVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #geo="ngbCollapse" [(ngbCollapse)]="geoExtVisible">

    <p>Countries</p>
    <ng-select [(ngModel)]="ns.nuts0Active" [multiple]="true" [clearable]="false" (change)="cs.filterByGeoExtent()"
        notFoundText="Not found, try with a broader search">
        <ng-option *ngFor="let n of ns.nuts0Labels" [value]="n">{{n.NAME_ENGLISH}} - {{n.NUTS_ID}}</ng-option>
    </ng-select>

    <p>Greater Regions</p>
    <ng-select [(ngModel)]="ns.nuts1Active" [multiple]="true" [clearable]="false" groupBy="NAME_ENGLISH"
        (change)="cs.filterByGeoExtent()" notFoundText="Not found, try with a broader search">
        <ng-option *ngFor="let n of ns.nuts1Labels" [value]="n">{{n.NAME_LATN}} - {{n.NUTS_ID}}</ng-option>
    </ng-select>

    <p>Regions</p>
    <ng-select [(ngModel)]="ns.nuts2Active" [multiple]="true" [clearable]="false" groupBy="NAME_ENGLISH"
        (change)="cs.filterByGeoExtent()" notFoundText="Not found, try with a broader search">
        <ng-option *ngFor="let n of ns.nuts2Labels" [value]="n">{{n.NAME_LATN}} - {{n.NUTS_ID}}</ng-option>
    </ng-select>

    <p>Sub-regions</p>
    <ng-select [(ngModel)]="ns.nuts3Active" [multiple]="true" [clearable]="false" groupBy="NAME_ENGLISH"
        (change)="cs.filterByGeoExtent()" notFoundText="Not found, try with a broader search">
        <ng-option *ngFor="let n of ns.nuts3Labels" [value]="n">{{n.NAME_LATN}} - {{n.NUTS_ID}}</ng-option>
    </ng-select>

    <!--     <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
        <a class="btn btn-success" id="dropdownBasic1" ngbDropdownToggle>Country - NUTS 0</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-success pre-scrollable">
            <a class="dropdown-header">Select as many as you want</a>
            <a *ngFor="let n of ns.nuts0Labels" class="dropdown-item" (click)="n.active = !n.active">
                <i *ngIf="n.active" class="nc-icon nc-check-2"></i>
                {{n.NUTS_ID}} - {{n.NAME_ENGLISH}}
            </a> -->
    <!-- <a class="dropdown-item">Another action</a>
                       <a class="dropdown-item">Something else here</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item">Separated link</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item">Another separated link</a> -->
    <!--         </div>
    </div>
<br>
    <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
        <a class="btn btn-info" id="dropdownBasic1" ngbDropdownToggle>Region - NUTS 2</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-info pre-scrollable">
            <a class="dropdown-header">Select as many as you want</a>
            <a *ngFor="let n of ns.nuts2Labels" class="dropdown-item" (click)="n.active = !n.active">
                <i *ngIf="n.active" class="nc-icon nc-check-2"></i>
                {{n.NUTS_ID}} - {{n.NAME_LATN}}
            </a>
        </div>
    </div>
<br>
    <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
        <a class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Region - NUTS 3</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary pre-scrollable">
            <a class="dropdown-header">Select as many as you want</a>
            <a *ngFor="let n of ns.nuts3Labels" class="dropdown-item" (click)="n.active = !n.active">
                <i *ngIf="n.active" class="nc-icon nc-check-2"></i>
                {{n.NUTS_ID}} - {{n.NAME_LATN}}
            </a>
        </div>
    </div>-->
</div>

<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="scope.toggle()"
        [attr.aria-expanded]="!scopeVisible" placement="bottom" ngbTooltip="Filter by local or regional extent.">
        Scope
        <i [ngClass]="scopeVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #scope="ngbCollapse" [(ngbCollapse)]="scopeVisible">

    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!scopeVisible" [view]="view" [results]="scopeGraph"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>

    <div class="form-check-radio">
        <label class="form-check-label">
            <input #scopeRadios1 class="form-check-input" type="radio" name="scopeRadios" id="scopeRadios1" value="1"
                (change)="cs.filterByScope()" checked>
            All
            <span class="form-check-sign"></span>
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="scopeRadios" id="scopeRadios2" value="2"
                (change)="cs.filterByScope('local')">

            <span class="form-check-sign"></span>
            <i class="fa fa-circle color1"> </i>
            Local ({{cs.resultCases.scope.local}})
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="scopeRadios" id="scopeRadios3" value="3"
                (change)="cs.filterByScope('regional')">

            <span class="form-check-sign"></span>
            <i class="fa fa-circle color2"> </i>
            Regional ({{cs.resultCases.scope.regional}})
        </label>
    </div>
</div>

<!--             <bSwitch [switch-on-color]="'primary'" [(ngModel)]="state_default"> Toggle is off
                </bSwitch>
 -->
<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="theme.toggle()"
        [attr.aria-expanded]="!themAreaVisible" placement="bottom"
        ngbTooltip="Filter by thematic area, according to the Classification of the Functions of Government (COFOG), developed by the Organization for Economic Cooperation and Development and published by the United Nations Statistical Division (UNSD).">
        Thematic area
        <i [ngClass]="themAreaVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #theme="ngbCollapse" [(ngbCollapse)]="themAreaVisible">
    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!themAreaVisible" [view]="view" [results]="themeAreaGraph"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>
    <div *ngFor=" let ta of tas.thematicAreas" class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="ta.active"
                (change)="cs.filterByThemeArea()">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle" class="{{ta.class}}"> </i>
            <i class="fa fa-{{ta.icon}}"> </i> {{ta.name}} ({{cs.resultCases.themeArea[ta.result]}})
        </label>
    </div>
    <!--     <div ngbDropdown class="d-inline-block dropdown" autoClose="outside">
        <a class="btn btn-warning" id="dropdownBasic1" ngbDropdownToggle>Thematic area</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-warning">
            <a class="dropdown-header">Select as many as you want</a>
            <a *ngFor="let ta of tas.thematicAreas" class="dropdown-item"
                (click)="ta.active = !ta.active; cs.filterByThemeArea()">
                <i *ngIf="ta.active" class="nc-icon nc-check-2"></i>
                {{ta.name}}
            </a> -->
    <!-- <a class="dropdown-item">Another action</a>
                       <a class="dropdown-item">Something else here</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item">Separated link</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item">Another separated link</a> -->
    <!--    </div>
    </div> -->


</div>
<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="ogc.toggle()"
        [attr.aria-expanded]="!ogcVisible" placement="bottom"
        ngbTooltip="Filter by technology trends, classified according to the Open Geospatial Consortium (OGC) trend watch.">
        Technology
        <i [ngClass]="ogcVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #ogc="ngbCollapse" [(ngbCollapse)]="ogcVisible">

    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!ogcVisible" [view]="view" [results]="ogcGraph"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>

    <div *ngFor=" let ogc of tas.ogcAreas" class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="ogc.active"
                (change)="cs.filterByOGCTrend()">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle" class="{{ogc.class}}"> </i>
            <i class="fa fa-{{ogc.icon}}"> </i> {{ogc.name}} ({{cs.resultCases.trendWatch[ogc.result]}})
        </label>
    </div>
</div>

<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="emerging.toggle()"
        [attr.aria-expanded]="!trendVisible" placement="bottom"
        ngbTooltip="Filter by technologies according to Open Geospatial Consotium (OGC) emerging technologies">
        Emerging technology
        <i [ngClass]="trendVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #emerging="ngbCollapse" [(ngbCollapse)]="trendVisible">

    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!trendVisible" [view]="view" [results]="trendGraph"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>
    <div *ngFor=" let em of tas.emergingTech" class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="em.active"
                (change)="cs.filterByEmergingTech()">
            <span class="form-check-sign"></span>
            <i class="fa fa-circle" class="{{em.class}}"> </i>
            <i class="fa fa-{{em.icon}}"> </i> {{em.name}} ({{cs.resultCases.emerging[em.result]}})
        </label>
    </div>
</div>

<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="public.toggle()"
        [attr.aria-expanded]="!publicValVisible" placement="bottom"
        ngbTooltip="Filter by public value according to an extended version of the E-Governance Public Values Framework (source: Pin-Yu Chun, et al. 2017).">
        Public value type
        <i [ngClass]="publicValVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #public="ngbCollapse" [(ngbCollapse)]="publicValVisible">
    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!publicValVisible" [view]="view" [results]="pvGraph"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>
    <div *ngFor="let pv of tas.publicValue; let i=index;" class="form-check">
        <label class="form-check-label" [ngClass]="!pv.section? 'ml-4' : 'mt-2'">
            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="pv.active"
                (change)="tickSubgroups(i);">
            <span class="form-check-sign"></span>
            <i *ngIf="pv.result == 'p01'" class="fa fa-circle color1"> </i>
            <i *ngIf="pv.result == 'p06'" class="fa fa-circle color2"> </i>
            <i *ngIf="pv.result == 'p13'" class="fa fa-circle color3"> </i>
            {{pv.name}} ({{cs.resultCases.publicValue[pv.result]}})
        </label>
    </div>
</div>

<!--   <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="operational"
                (change)="cs.filterByPublicValue($event)">
            Operational
            <span class="form-check-sign"></span>
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="political" (change)="cs.filterByPublicValue($event)">
            Political
            <span class="form-check-sign"></span>
        </label>
    </div>

-->

<div>
    <button type="button" class="btn btn-default btn-sm btn-link  btn-icon" (click)="techRead.toggle()"
        [attr.aria-expanded]="!techReadVisible" placement="bottom"
        ngbTooltip="Filter by Technology Readiness Level (TRL), an indicator of the maturity of a particular  technology (source: EU H2020 framework program).">
        Technological readiness
        <i [ngClass]="techReadVisible? 'fa fa-chevron-down' : 'fa fa-chevron-up'"> </i></button>
</div>
<div #techRead="ngbCollapse" [(ngbCollapse)]="techReadVisible">
    <div class="row right-chart">
        <ngx-charts-bar-horizontal-stacked *ngIf="!techReadVisible" [view]="view" [results]="trGraph"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal-stacked>
        <br>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input #techReadyRadios0 class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios0"
                value="1" (change)="cs.filterByTechReady(null)" checked>
            All
            <span class="form-check-sign"></span>
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios1" value="1"
                (change)="cs.filterByTechReady(1)">
            <i class="fa fa-circle color1"> </i>
            Research and innovation
            <!--  (~ TLR1 - TLR2) --> ({{cs.resultCases.readiness.r01}})
            <span class="form-check-sign"></span>

        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios2" value="2"
                (change)="cs.filterByTechReady(2)">
            <i class="fa fa-circle color2"> </i>
            Proof of concept
            <!-- (~ TLR3 - TLR4)  -->
            ({{cs.resultCases.readiness.r02}})
            <span class="form-check-sign"></span>
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios3" value="3"
                (change)="cs.filterByTechReady(3)">
            <i class="fa fa-circle color3"> </i>
            Prototype
            <!-- (~ TLR5 - TLR7) --> ({{cs.resultCases.readiness.r03}})
            <span class="form-check-sign"></span>
        </label>
    </div>
    <div class="form-check-radio">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="techReadyRadios" id="techReadyRadios4" value="4"
                (change)="cs.filterByTechReady(4)">
            <i class="fa fa-circle color4"> </i>
            Production System
            <!-- (~ TLR8 - TLR9) --> ({{cs.resultCases.readiness.r04}})
            <span class="form-check-sign"></span>
        </label>
    </div>
</div>
<br>
<button type="button" class="btn btn-sm btn-danger"
    (click)="scopeRadios1.checked=true; techReadyRadios0.checked=true; cs.clearFilters(); textFilter = ''">
    <i class="fa fa-times"> </i>Clear all filters</button>